.principal {
  color: #98CE54; }

.negro {
  color: black; }

.blanco {
  color: white; }

.gris {
  color: gray; }

body {
  font-family: 'Courier Prime', monospace;
  overflow-wrap: hidden; }

h1, h2, h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 0rem;
  animation-duration: 3s; }
  h1:hover, h2:hover, h3:hover {
    animation-name: aparecer;
    animation-iteration-count: 1; }

h2, h3 {
  font-size: 38px; }

h3 {
  font-size: 28px; }

.tituloStrong {
  font-size: 38px; }

.tituloStrongChico {
  font-size: 28px; }

.titulo {
  color: #98CE54;
  text-align: center;
  background-color: black;
  width: 290px;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem; }

@keyframes aparecer {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.bgcolor {
  background-color: #98CE54; }

@media screen and (max-width: 699px) {
  h1, h2, h3 {
    font-size: 32px; }
  h2, h3 {
    font-size: 28px; }
  h3 {
    font-size: 18px; }
  p {
    font-size: 14px; }
  .titulo {
    width: 240px; }
  .tituloStrong {
    font-size: 28px; }
  .tituloStrongChico {
    font-size: 18px; } }

.nav {
  align-items: flex-end; }

.centrado {
  justify-content: center; }

.fondoIndex {
  background-image: url(https://i.pinimg.com/originals/29/7f/f6/297ff67061e650c83441cd466530f3b8.jpg);
  background-position: top center; }

.textJuntos {
  background-color: #98CE54;
  text-align: center;
  width: 100%;
  height: 90%; }

.imgJuntos {
  width: 100%;
  height: 90%;
  margin-bottom: 1rem;
  margin-top: 1rem; }

.deADos {
  justify-content: space-evenly; }

@media screen and (max-width: 699px) {
  .imgJuntos {
    height: 9rem; } }

.fondoProductos {
  background-image: url(https://img.freepik.com/vector-gratis/moda-accesorios-ropa-patrones-fisuras_1284-3636.jpg?w=2000);
  background-position: top center; }

.imgProductos {
  width: 90%;
  height: 90%; }

.fondoGuia {
  background-image: url(https://w0.peakpx.com/wallpaper/629/102/HD-wallpaper-brown-ruler-with-stand.jpg); }

.imgGuia {
  width: 90%;
  height: 100%;
  padding-bottom: 2rem;
  margin: 0rem 0rem 0rem 2rem; }

.textGuia {
  background-color: white;
  filter: opacity(70%);
  color: black; }

.fondoContamos {
  background-image: url(https://cdn.ipadizate.com/2019/10/ios-4-1.jpg); }

.logoViejo {
  width: 90%;
  height: 90%; }

.logoNuevo {
  width: 90%;
  height: 90%; }

.videoMedida {
  height: 30rem; }

@media screen and (max-width: 699px) {
  .videoMedida {
    height: 15rem; } }

.imgContacto {
  width: 59%; }

.fondoContactos {
  background-image: url(https://previews.123rf.com/images/hchjjl/hchjjl1506/hchjjl150601688/40716025-libro-de-contactos-doodle-de-fondo-sin-fisuras-patr%C3%B3n.jpg); }

@media screen and (min-width: 700px) {
  form {
    background-color: gray;
    margin: 1rem;
    padding: 1rem;
    width: 90%;
    height: 500px; }
    form textarea {
      width: 500px;
      height: 126px; }
    form .form-control {
      width: 90%; } }

@media screen and (max-width: 699px) {
  form {
    background-color: gray;
    margin: 1rem;
    padding: 1rem;
    width: 90%; }
    form textarea {
      width: 301px;
      height: 64px; }
  .form-control {
    width: 90%; }
  .mb-3 {
    margin-bottom: 0rem !important; }
  .imgContacto {
    width: 90%; } }

.footer {
  background-color: black;
  color: #98CE54;
  padding-top: 1rem;
  margin-top: 1rem; }
