body{
	font-family:'Courier Prime', monospace;
	overflow-wrap: hidden;
}	

h1{
	@include bold-uppercase;
	font-size: 48px;
	margin-bottom: 0rem;
	animation-duration: 3s;
	&:hover{animation-name: aparecer;
	animation-iteration-count: 1;
}
}

h2{ 
	@extend h1;
	font-size: 38px;
	
} 

h3{ 
	@extend h2;
	font-size: 28px;

} 
	
.titulo{
	color: map-get($coloresPrincipales,principal);
	text-align: center;
	background-color: map-get($coloresPrincipales,negro);
	width: 290px;
	margin: auto;
	margin-bottom:1rem;
	margin-top: 1rem;
	}	

@keyframes aparecer{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.bgcolor{
	background-color:map-get($coloresPrincipales,principal);
}

@media screen and (max-width: 699px){
	h1{ 
 		font-size: 32px;
} 

	h2{   		
  		font-size: 28px;
} 

	h3{ 
 		font-size: 18px;
} 

	p{
		font-size: 14px;
}

	.titulo{
		width: 240px;	
}
}