.imgContacto{
	height: 70%;
	width: 59%;
}

.fondoContactos{
	background-image: url(https://previews.123rf.com/images/hchjjl/hchjjl1506/hchjjl150601688/40716025-libro-de-contactos-doodle-de-fondo-sin-fisuras-patr%C3%B3n.jpg);
}

form{
	background-color: $colorGris;
	margin: 1rem;
	padding-right: 10rem;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-bottom: 1rem;
}