.fondoGuia{
	background-image: url(https://w0.peakpx.com/wallpaper/629/102/HD-wallpaper-brown-ruler-with-stand.jpg);
}

.imgGuia{
	@include medidas(90%,100%);
	padding-bottom: 2rem;
	margin: 0rem 0rem 0rem 2rem;
}

.textGuia{
	background-color: map-get($coloresPrincipales,blanco);
	filter: opacity(70%);
	color: map-get($coloresPrincipales,negro);

}	