.fondoIndex{
	background-image: url(https://i.pinimg.com/originals/29/7f/f6/297ff67061e650c83441cd466530f3b8.jpg);
	background-position: top center;
}		

.textJuntos{	
	background-color: $colorPrincipal;
	text-align: center;
	height: 100%;
	width: 90%;

}			
.imgJuntos{	
	width: 90%;
	margin-bottom: 1rem;
	margin-top: 1rem; 
}	
.deADos{
	justify-content: space-evenly;
}		