.fondoIndex{
	background-image: url(https://i.pinimg.com/originals/29/7f/f6/297ff67061e650c83441cd466530f3b8.jpg);
	background-position: top center;
}		

.textJuntos{	
	background-color: map-get($coloresPrincipales,principal);
	text-align: center;
	@include medidas(100%,90%);
}			
.imgJuntos{	
	width: 100%;
	height: 90%;
	margin-bottom: 1rem;
	margin-top: 1rem; 
}	
.deADos{
	justify-content: space-evenly;
}		

@media screen and (max-width: 699px){
	.imgJuntos{
		height: 9rem;
	}
}