
.fondoProductos{
	background-image: url(https://img.freepik.com/vector-gratis/moda-accesorios-ropa-patrones-fisuras_1284-3636.jpg?w=2000);
	background-position: top center;
}

.imgProductos{
	height: 90%;
	width: 90%;
}	

